@import "tailwindcss";

@custom-variant dark (&:where([data-theme="modern-dark"] *));

[x-cloak] { display: none !important; }

@theme {
  /* light theme */
  --color-surface: var(--color-);
  --color-surface-alt: var(--color-);
  --color-on-surface: var(--color-);
  --color-on-surface-strong: var(--color-);
  --color-primary: var(--color-);
  --color-on-primary: var(--color-);
  --color-secondary: var(--color-);
  --color-on-secondary: var(--color-);
  --color-outline: ;
  --color-outline-strong: var(--color-);

  /* dark theme */
  --color-surface-dark: var(--color-);
  --color-surface-dark-alt: var(--color-);
  --color-on-surface-dark: var(--color-);
  --color-on-surface-dark-strong: var(--color-);
  --color-primary-dark: var(--color-);
  --color-on-primary-dark: var(--color-);
  --color-secondary-dark: var(--color-);
  --color-on-secondary-dark: var(--color-);
  --color-outline-dark: var(--color-);
  --color-outline-dark-strong: var(--color-);

  /* shared colors */
  --color-info: var(--color-);
  --color-on-info: var(--color-);
  --color-success: var(--color-);
  --color-on-success: var(--color-);
  --color-warning: var(--color-);
  --color-on-warning: var(--color-);
  --color-danger: var(--color-);
  --color-on-danger: var(--color-);

  /* border radius */
  --radius-radius: var(--radius);
}

@layer base {
  [data-theme=modern] {
      /* fonts */
      --font-body: 'Lato', sans-serif;
      --font-title: 'Lato', sans-serif;
  
      /* light theme */
      --color-surface: #FFFACF;
      --color-surface-alt: var(--color-neutral-50);
      --color-on-surface: var(--color-neutral-600);
      --color-on-surface-strong: var(--color-neutral-900);
      --color-primary: #FAE743;
      --color-on-primary: var(--color-neutral-900);
      --color-secondary: var(--color-neutral-800);
      --color-on-secondary: var(--color-white);
      --color-outline: var(--color-neutral-300);
      --color-outline-strong: var(--color-neutral-800);
  
      /* shared colors */
      --color-info: var(--color-sky-500);
      --color-on-info: var(--color-white);
      --color-success: var(--color-green-500);
      --color-on-success: var(--color-white);
      --color-warning: var(--color-amber-500);
      --color-on-warning: var(--color-white);
      --color-danger: var(--color-red-500);
      --color-on-danger: var(--color-white);
  
      /* border radius */
      --radius-radius: var(--radius-sm);
    }

    [data-theme=modern-dark] {
      /* fonts */
      --font-body: 'Lato', sans-serif;
      --font-title: 'Lato', sans-serif;
  
      /* dark theme */
      --color-surface-dark: var(--color-neutral-950);
      --color-surface-dark-alt: var(--color-neutral-900);
      --color-on-surface-dark: var(--color-neutral-300);
      --color-on-surface-dark-strong: var(--color-white);
      --color-primary-dark: var(--color-white);
      --color-on-primary-dark: var(--color-black);
      --color-secondary-dark: var(--color-neutral-300);
      --color-on-secondary-dark: var(--color-black);
      --color-outline-dark: var(--color-neutral-700);
      --color-outline-dark-strong: var(--color-neutral-300);
  
      /* shared colors */
      --color-info: var(--color-sky-500);
      --color-on-info: var(--color-white);
      --color-success: var(--color-green-500);
      --color-on-success: var(--color-white);
      --color-warning: var(--color-amber-500);
      --color-on-warning: var(--color-white);
      --color-danger: var(--color-red-500);
      --color-on-danger: var(--color-white);
  
      /* border radius */
      --radius-radius: var(--radius-sm);
    }
}